@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500;600;700&family=Inter:wght@400;500;600&family=JetBrains+Mono:wght@400;500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #F2EEE3;
  color: #4A4B4D;
  font-family: 'Inter', sans-serif;
}
.leaflet-container { height: 100%; width: 100%; }
